### 0. Libraries

In [17]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
from datetime import date
from sklearn.preprocessing import StandardScaler

### 1. Create a DataFrame and make a copy

In [18]:
data=pd.read_csv('marketing_customer_analysis.csv')

In [19]:
data_c = data

### 2. EDA, cleaning and wrangling the data

In [20]:
data_c.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

- ***Standardizing header names***

In [21]:
cols = []
for i in range(len(data_c.columns)):
    cols.append(data_c.columns[i].lower().replace(' ', '_'))
cols

['customer',
 'state',
 'customer_lifetime_value',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'income',
 'location_code',
 'marital_status',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'total_claim_amount',
 'vehicle_class',
 'vehicle_size']

In [22]:
data_c.columns=cols

In [23]:
data_c.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

- ***Missing Data***

In [24]:
data_c.isna().mean().round(4) *100

customer                         0.0
state                            0.0
customer_lifetime_value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective_to_date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location_code                    0.0
marital_status                   0.0
monthly_premium_auto             0.0
months_since_last_claim          0.0
months_since_policy_inception    0.0
number_of_open_complaints        0.0
number_of_policies               0.0
policy_type                      0.0
policy                           0.0
renew_offer_type                 0.0
sales_channel                    0.0
total_claim_amount               0.0
vehicle_class                    0.0
vehicle_size                     0.0
dtype: float64

In [25]:
data_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   object
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

Result: There are no NaN.

- ***check the datatypes***

In [26]:
data_c.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
dtype: object

In [27]:
data_c.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

- ***change the column effective_to_date from object to date***

In [28]:
data_c['effective_to_date'] = pd.to_datetime(data_c['effective_to_date'], errors='coerce')

In [29]:
data_c.dtypes

customer                                 object
state                                    object
customer_lifetime_value                 float64
response                                 object
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
gender                                   object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                   int64
months_since_policy_inception             int64
number_of_open_complaints                 int64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
dtype: object

- ***Transform the time variables (day, week and month) to integers.***

In [30]:
data_c['day'] = pd.DatetimeIndex(data_c['effective_to_date']).day

In [31]:
data_c['month'] = pd.DatetimeIndex(data_c['effective_to_date']).month

In [32]:
data_c['weeknumber'] = pd.DatetimeIndex(data_c['effective_to_date']).week

<ipython-input-32-f47953e2e7fa>:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  data_c['weeknumber'] = pd.DatetimeIndex(data_c['effective_to_date']).week

In [33]:
data_c.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,day,month,weeknumber
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,24,2,8
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,31,1,5
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,19,2,7
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,20,1,3
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,3,2,5



Result: The column 'effective_to_date' is split into day, month and week. The column 'effective_to_date' will remove from the dataset.

In [34]:
data_c = data_c.drop(['effective_to_date'], axis=1)

In [35]:
data_c.head()

,customer,state,customer_lifetime_value,response,coverage,education,employmentstatus,gender,income,location_code,...,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,day,month,weeknumber
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,Employed,F,56274,Suburban,...,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,24,2,8
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,Unemployed,F,0,Suburban,...,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,31,1,5
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,Employed,F,48767,Suburban,...,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,19,2,7
3,WW63253,California,7645.861827,No,Basic,Bachelor,Unemployed,M,0,Suburban,...,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,20,1,3
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,Employed,M,43836,Rural,...,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,3,2,5

In [36]:
data_c.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim            int64
months_since_policy_inception      int64
number_of_open_complaints          int64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
day                                int64
month                              int64
weeknumber                         int64
dtype: object

***check the duplicates***

In [37]:
data_c=data_c.drop_duplicates()

In [39]:
data_c.shape

(9134, 26)

Result: There are no duplicates, Index must not be reset.

- ***Split the dataset into data_num (only numerical data) only to check the outliers.***

In [ ]:
data_num = data_c.select_dtypes(include = np.number)

 *** Check the outliers in the numerical data***
 - using the boxplot to visalize the outliers and describe()-function

In [ ]:
calc_data_num = data_num.describe()
calc_data_num

***- Calculate the borders (whisker) for Outliers***

In [ ]:
Q1 = data_c.quantile(q=0.25)
Q1

In [ ]:
Q3 = data_c.quantile(q=0.75)
Q3

In [ ]:
IQR = Q3-Q1
IQR

In [ ]:
lower_whisker = Q1 - IQR*1,5
lower_whisker

In [ ]:
upper_whisker = Q3 + IQR*1,5
upper_whisker

***Visualization of the outliers***

In [ ]:
plt.boxplot(data_num['customer_lifetime_value'])
plt.show()

In [ ]:
plt.boxplot(data_num['income'])
plt.show()

In [ ]:
plt.boxplot(data_num['monthly_premium_auto'])
plt.show()

In [ ]:
plt.boxplot(data_num['months_since_last_claim'])
plt.show()

In [ ]:
plt.boxplot(data_num['months_since_policy_inception'])
plt.show()

In [ ]:
plt.boxplot(data_num['number_of_open_complaints'])
plt.show()

In [ ]:
plt.boxplot(data_num['number_of_policies'])
plt.show()

In [ ]:
plt.boxplot(data_num['total_claim_amount'])
plt.show()

*** What to do with outliers?***

Hint: Cap or drop
Cap: do not exaggerate
Drop: make sure it's not a typing mistake, drop outliers with significant impact

-> I capped the outliers.

***'number_of_policies'***

In [ ]:
Upper_lim1 = data_c['number_of_policies'].quantile(0.95) 
Upper_lim1

In [ ]:
Lower_lim1 = data_c['number_of_policies'].quantile(0.05)
Lower_lim1

In [ ]:
data_c.loc[(data_c['number_of_policies']> Upper_lim1), 'number_of_policies']

In [ ]:
# There are no outliers below the lower_lim1
#data_c.loc[(data_c['number_of_policies']< Lower_lim1), 'number_of_policies']

In [ ]:
data_c = data_c.drop(data_c[data_c.number_of_policies > Upper_lim1].index)

In [ ]:
data_c.info()

In [ ]:
plt.boxplot(data_num['number_of_policies'])
plt.show()

***'customer_lifetime_value'***

In [ ]:
Upper_lim2 = data_c['customer_lifetime_value'].quantile(0.95) 
Upper_lim2

In [ ]:
Lower_lim2 = data_c['customer_lifetime_value'].quantile(0.05)
Lower_lim2

In [ ]:
data_c.loc[(data_c['customer_lifetime_value']> Upper_lim2), 'customer_lifetime_value']

In [ ]:
data_c.loc[(data_c['customer_lifetime_value'] < Lower_lim2), 'customer_lifetime_value']

In [ ]:
data_c = data_c.drop(data_c[data_c.customer_lifetime_value > Upper_lim2].index)

In [ ]:
data_c = data_c.drop(data_c[data_c.customer_lifetime_value < Lower_lim2].index)

In [ ]:
data_c.info()

In [ ]:
plt.boxplot(data_num['customer_lifetime_value'])
plt.show()

***'monthly_premium_auto'***

In [ ]:
Upper_lim3 = data_c['monthly_premium_auto'].quantile(0.95) 
Upper_lim3

In [ ]:
Lower_lim3 = data_c['monthly_premium_auto'].quantile(0.05)
Lower_lim3

In [ ]:
data_c.loc[(data_c['monthly_premium_auto']> Upper_lim3), 'monthly_premium_auto']

In [ ]:
data_c.loc[(data_c['monthly_premium_auto'] < Lower_lim3), 'monthly_premium_auto']

In [ ]:
data_c = data_c.drop(data_c[data_c.monthly_premium_auto > Upper_lim3].index)

In [ ]:
data_c = data_c.drop(data_c[data_c.monthly_premium_auto < Lower_lim3].index)

In [ ]:
data_c.info()

***'total_claim_amount'***

In [ ]:
Upper_lim4 = data_c['total_claim_amount'].quantile(0.95) 
Lower_lim4 = data_c['total_claim_amount'].quantile(0.05)

In [ ]:
data_c.loc[(data_c['total_claim_amount']> Upper_lim4), 'total_claim_amount']

In [ ]:
data_c.loc[(data_c['total_claim_amount'] < Lower_lim4), 'total_claim_amount']

In [ ]:
data_c = data_c.drop(data_c[data_c.total_claim_amount > Upper_lim4].index)
data_c = data_c.drop(data_c[data_c.total_claim_amount < Lower_lim4].index)
data_c.info()

- ***Now split the dataset into data_num (only numerical data) and data_cat (only object).***

In [ ]:
data_num = data_c.select_dtypes(include = np.number)

In [ ]:
data_cat = data_c.select_dtypes(include = np.object)

In [ ]:
data_cat.head()

In [ ]:
data_num.head()

- ***Check the categorical data (the content of the rows - typing mistakes, summarize similar groups ..... )***

In [ ]:
data_cat['state'].value_counts()

In [ ]:
data_cat['response'].value_counts()

In [ ]:
data_cat['coverage'].value_counts()

In [ ]:
data_cat['education'].value_counts()

In [ ]:
data_cat['employmentstatus'].value_counts()

In [ ]:
data_cat['gender'].value_counts()

In [ ]:
data_cat['location_code'].value_counts()

In [ ]:
data_cat['marital_status'].value_counts()

In [ ]:
data_cat['policy_type'].value_counts()

In [ ]:
data_cat['policy'].value_counts()

In [ ]:
data_cat['sales_channel'].value_counts()

In [ ]:
data_cat['renew_offer_type'].value_counts()

In [ ]:
data_cat['vehicle_class'].value_counts()

In [ ]:
data_cat['vehicle_size'].value_counts()

- ****possible groupings (For me: Possible summarizeng depends at first on the hypothesis. But I try to summarize similar groups together. The goal is to achieve bigger groups and less distinct groups and of cours less distinct categorical values )***

***-> column "education"***

- It could be possible to put the education level doctor and master in one group. After that, the both in one group make the group bigger. The both separate is too small.
- new name for the degree doctor and master = Higher_degree

In [ ]:
data_cat["education"].value_counts().plot(kind="bar")
plt.figure();

In [ ]:
def col_education(x):
    if 'Bachelor' in x:
        return 'Bachelor'
    elif 'College' in x:
        return 'College'
    elif 'High School or Below' in x:
        return 'High School or Below'
    elif 'Master' or 'Doctor' in x:
        return 'Higher_degree'
    else:
        return 'unknown'

In [ ]:
data_cat['education'] = data_cat['education'].apply(col_education)

In [ ]:
data_cat['education'].value_counts()

***-> column 'employmentstatus'***
- summarize the group 'Medical Leave','Disabled' and 'Retired' to the new group "no_participation_work_life"

In [ ]:
data_cat["employmentstatus"].value_counts().plot(kind="bar")
plt.figure()

In [ ]:
def col_employmentstatus(x):
    if 'Employed' in x:
        return 'Employed'
    elif 'Unemployed' in x:
        return 'Unemployed'
    elif x in ['Medical Leave','Disabled','Retired']:
        return 'no_participation_work_life'
    else:
        return 'unknown'

In [ ]:
data_cat['employmentstatus'] = data_cat['employmentstatus'].apply(col_employmentstatus)

In [ ]:
data_cat['employmentstatus'].value_counts()

***-> column 'vehicle_class'***

summarize the group 'Sports Car ','Luxury SUV' and 'Luxury Car' to the new group "Luxury"

In [ ]:
data_cat["vehicle_class"].value_counts().plot(kind="bar")
plt.figure();

In [ ]:
def col_vehicle_class(x):
    if 'Four-Door Car' in x:
        return 'Four-Door Car'
    elif 'Two-Door Car' in x:
        return 'Two-Door Car'
    elif 'SUV' in x:
        return 'SUV'
    elif x in ['Sports Car','Luxury SUV','Luxury Car']:
        return 'Luxury'
    else:
        return 'unknown'

In [ ]:
data_cat['vehicle_class'] = data_cat['vehicle_class'].apply(col_vehicle_class)

In [ ]:
data_cat['vehicle_class'].value_counts()

- Normalize the continuous variables.

Standard Scaler: standardising all numeric features / rescaling using

In [ ]:
transformer = StandardScaler().fit(data_num)
x_standardized = transformer.transform(data_num)

In [ ]:
num_new = pd.DataFrame(x_standardized, columns=data_num.columns)

In [ ]:
num_new.head()

- Encode the categorical variables

Using get_dummies

In [ ]:
cat_new = pd.get_dummies(data_cat, columns=['customer','state', 'response', 'coverage', 'education','employmentstatus','gender','location_code','marital_status','policy_type', 'policy', 'renew_offer_type','sales_channel','vehicle_class','vehicle_size'], drop_first=True)

In [ ]:
cat_new.head()

- check the lengths to avoid mismatches

In [ ]:
len(data_num), len(x_standardized), len(cat_new)

In [ ]:
new_data = np.concatenate((cat_new, num_new), axis=1)

In [ ]:
new_data.shape

- Since the model will only accept numerical data, check and make sure that every column is numerical, if some are not, change it using encoding.