In [1]:
import numpy as np

In [2]:
import pandas as pd

### Read the three files into python as dataframes

In [3]:
file1 = pd.read_csv("file1.csv")
file2 = pd.read_csv("file2.csv")
file3 = pd.read_csv("file3.csv")

### Show the DataFrame's shape

In [4]:
file1.shape

(4008, 11)

In [5]:
file2.shape

(996, 11)

In [6]:
file3.shape

(7070, 11)

### Standardize header names
 * Check, what are the headers

In [7]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [8]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [9]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [10]:
len(file1.columns)

11

In [11]:
len(file2.columns)

11

In [12]:
len(file3.columns)

11

In [57]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

Align the three files (shift columns)

In [20]:
file2 = file2[['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [23]:
file2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.6
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.2
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.6
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,Personal Auto,Luxury Car,1027.2
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,Corporate Auto,Two-Door Car,451.2

In [25]:
file3 = file3[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [26]:
file3.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,SA25987,Washington,M,High School or Below,3479.137523,0,104,0,Personal Auto,Two-Door Car,499.200000
1,TB86706,Arizona,M,Master,2502.637401,0,66,0,Personal Auto,Two-Door Car,3.468912
2,ZL73902,Nevada,F,Bachelor,3265.156348,25820,82,0,Personal Auto,Four-Door Car,393.600000
3,KX23516,California,F,High School or Below,4455.843406,0,121,0,Personal Auto,SUV,699.615192
4,FN77294,California,M,High School or Below,7704.958480,30366,101,2,Personal Auto,SUV,484.800000

In [27]:
column_names=file1.columns

In [30]:
cols = []
for i in range(len(column_names)):
    cols.append(column_names[i].lower())
cols

['customer',
 'st',
 'gender',
 'education',
 'customer lifetime value',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'vehicle class',
 'total claim amount']

In [33]:
dataset=pd.DataFrame(columns=cols)
dataset.head()

Empty DataFrame
Columns: [customer, st, gender, education, customer lifetime value, income, monthly premium auto, number of open complaints, policy type, vehicle class, total claim amount]
Index: []

In [35]:
dataset=pd.concat([file1, file2, file3], axis = 0)

In [37]:
dataset.shape

(12074, 13)

Reset dataset

In [39]:
dataset.reset_index(drop=True, inplace=True)

### Which columns are numerical?
### Which columns are categorical?

In [49]:
dataset.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
State                         object
Gender                        object
dtype: object

In [41]:
dataset.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN

### Data Cleaning
 * Delete the column education and the number of open complaints from the dataframe.

In [52]:
dataset = dataset.drop(['Number of Open Complaints'],axis = 1)
dataset = dataset.drop(['Education'],axis = 1)
dataset.head()

,Customer,ST,GENDER,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,NaN,NaN

 * Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [ ]:
# File 1 und 2 in percentage. This has to be change by multiplication

 * Check for duplicate rows in the data and remove if any.

In [53]:
dataset.drop_duplicates()
dataset.head()

,Customer,ST,GENDER,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,1288743.17%,48767.0,108.0,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,536307.65%,36357.0,68.0,Personal Auto,Four-Door Car,17.269323,NaN,NaN

 * Filter out the data for customers who have an income of 0 or less.

In [56]:
dataset[(dataset["Income"] <= 0)]

,Customer,ST,GENDER,Customer Lifetime Value,Income,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,NaN,0.0,1000.0,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,697953.59%,0.0,94.0,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
3,WW63253,California,M,764586.18%,0.0,106.0,Corporate Auto,SUV,529.881344,NaN,NaN
7,CF85061,Arizona,M,721610.03%,0.0,101.0,Corporate Auto,Four-Door Car,363.029680,NaN,NaN
10,SX51350,California,M,473899.20%,0.0,67.0,Personal Auto,Four-Door Car,482.400000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12063,WZ45103,NaN,NaN,5678.05,0.0,76.0,Personal Auto,Four-Door Car,364.800000,California,F
12065,RX91025,NaN,NaN,19872.3,0.0,185.0,Personal Auto,SUV,1950.725547,California,M
12066,AC13887,NaN,NaN,4629,0.0,67.0,Corporate Auto,Two-Door Car,482.400000,California,M
12071,TD14365,NaN,NaN,8163.89,0.0,85.0,Corporate Auto,Four-Door Car,790.784983,California,M
12073,Y167826,NaN,NaN,2611.84,0.0,77.0,Corporate Auto,Two-Door Car,369.600000,California,M